#x{
    background-color: rgb(234, 35, 35);
    height: 100vh;
    width: 100vw;
    border-radius: 5%;
}

#y{
    background-color: rgb(232, 180, 26);
    border-radius: 5%;

    height: 50vh;
    width: 100vw;
}

li{
    font-size: 45px;
}